@model AdventureGameEditor.Models.AlternativeViewModel
@*
    No, it's not used, but maybe will be needed.
*@

<h4> @Model.Index. alternatíva</h4>

    <div class="form-group">
        <label asp-for="Trial.Alternatives.ElementAt(Model.Index).Text" class="control-label"></label>
        <textarea asp-for="Trial.Alternatives.ElementAt(Model.Index).Text" class="form-control">@Model.Trial.Alternatives.ElementAt(Model.Index).Text</textarea>
        <span asp-validation-for="Trial.Alternatives.ElementAt(Model.Index).Text" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Trial.Alternatives.ElementAt(Model.Index).TrialResult.ResultType" class="control-label"></label>
        <p>
            <select asp-for="Trial.Alternatives.ElementAt(Model.Index).TrialResult.ResultType" asp-items="Html.GetEnumSelectList<ResultType>()"></select>
        </p>
        <span asp-validation-for="Trial.Alternatives.ElementAt(Model.Index).TrialResult.ResultType" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Trial.Alternatives.ElementAt(Model.Index).TrialResult.Text" class="control-label"></label>
        <textarea asp-for="Trial.Alternatives.ElementAt(Model.Index).TrialResult.Text" class="form-control">@Model.Trial.Alternatives.ElementAt(Model.Index).TrialResult.Text</textarea>
        <span asp-validation-for="Trial.Alternatives.ElementAt(Model.Index).TrialResult.Text" class="text-danger"></span>
    </div>
