@model AdventureGameEditor.Models.EditPasswordViewModel
@{
    ViewData["Title"] = "Jelszó módosítása";
}

@{await Html.RenderPartialAsync("EditUserMenu");}

<div class="profile edit-password">
    <div class="single-page">
        <h2>Jelszó módosítása</h2>
        <div class="edit-password-result">
            @if (ViewBag.Succeeded != null && ViewBag.Succeeded)
            {
                <p>A jelszó módosítása sikeres volt!</p>
            }
        </div>
        <form asp-action="EditPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ValidatePassword" class="control-label"></label>
                <input asp-for="ValidatePassword" class="form-control" />
                <span asp-validation-for="ValidatePassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Mentés" class="btn btn-default" />
            </div>
        </form>

    </div>
</div>

