@model AdventureGameEditor.Models.ViewModels.UserAutentication.RegisterViewModel

@{
    ViewData["Title"] = "Regisztráció";
}

<div class="register">

    <form asp-action="Register">

        <h2>Regisztráció</h2>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div>
            <label asp-for="UserName" class="control-label"></label>
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="NickName" class="control-label"></label>
            <input asp-for="NickName" class="form-control" />
            <span asp-validation-for="NickName" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="EmailAddress" class="control-label"></label>
            <input asp-for="EmailAddress" class="form-control" />
            <span asp-validation-for="EmailAddress" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="ValidateEmailAddress" class="control-label"></label>
            <input asp-for="ValidateEmailAddress" class="form-control" />
            <span asp-validation-for="ValidateEmailAddress" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="ValidatePassword" class="control-label"></label>
            <input asp-for="ValidatePassword" class="form-control" />
            <span asp-validation-for="ValidatePassword" class="text-danger"></span>
        </div>

        <div>
            <input type="submit" value="Regisztráció" class="btn btn-default" />
        </div>
    </form>
</div>


@section Scripts
{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}