@{
    ViewData["Title"] = "Súgó";
}

<link rel="stylesheet" type="text/css" href="~/css/site.css" />

<h1>@ViewData["Title"]</h1>

<div class="index">
    <h6>Hogyan játszhatok?</h6>
    <ul>
        <li>Válaszd ki a fejlécben található főmenüből a "Játékok listázása" opciót.</li>
        <li>A megjelenő játékok közül válaszd ki azt, amelyik felkeltette érdeklődésedet.</li>
        <li>
            A játékra kattintás után megjelenő adatok végigböngészése után amennyiben meggondolnád magad,
            még visszanavigálhatsz a játékok listájához, ahol másik játékot választhatsz, amennyiben a tartalom
            átfutása után mégsem szeretnél ezzel a játékkal játszani.
        </li>
        <li>
            Ha megtaláltad az ideális kalandjátékot számodra, a játék adatai alatt megjelenő "Játék" linkre kattintással
            neki is vághatsz! (Ez a link csak akkor érhető el, amennyiben a korábbiakban már bejelentkeztél.)
        </li>
        <li>
            A játék kiválasztását követően először az előtörténet fog megjelenni. Az előtörténet alján található
            "Tovább" linkre kattintva bele is vetheted magad a kalandokba!
        </li>
        <li>A játék kezdőmezőjére fogsz ez után kerülni. </li>
        <li>Minden mezőn a bal felső sarokban fog megjelenni az ahhoz tartozó illusztráció.</li>
        <li>
            A illusztráció felett az életpontjaidat láthatod. Kezdetben 3 vagy 5 vagy 7 életponttal rendelkezel a térkép
            nagyságától függően.
        </li>
        <li>A mezőhöz tartozó történetet a jobb fölső sarokban olvashatod.</li>
        <li>Amennyiben a mezőhöz tartozik próbatétel, azt az oldal bal oldalán fogod megtalálni.</li>
        <li>
            A próbatétel elvégzéséhez ki kell választanod egy opciót a szöveg alatt megjelenő alternatívák közül
            (az opció szövege mellett megjelenő rádiógomb kijelölésével választhatsz), majd a kérdőív alatt található "Választ"
            gomb segítségével véglegesítheted döntésedet, melyet követően ugyan itt fog megjelenni az általad választott
            alternatíva eredménye.
        </li>
        <li>
            Ha nem tartozik próbatétel az aktuális mezőhöz, onnan rögtön tovább is haladhatsz egy szomszédos mezőre,
            amennyiben viszont tartozik hozzá, csak a próbatétel elvégzése után haladhatsz majd tovább.
        </li>
        <li>
            A továbbhaladáshoz az oldal bal alsó felében található iránytű lesz a segítségedre. Az iránytűnek azon irányai,
            melyekben található elérhető szomszédos mező, bekeretezve szerepelnek. Ezekre kattintva haladhatsz tovább az adott
            irányban található szomszédos mezőre.
        </li>
        <li>
            A játék célja, hogy eljuss a célmezőre. Ehhez addig kell lépkedned a játék térképén, míg meg nem
            érkezel rá.
        </li>
        <li>
            Amennyiben a célmezőre érkeztél, és ha az rendelkezik próbatétellel, akkor a próbatétel sikeres végrehajtása
            után az iránytű közepén meg fog jelenni egy "Tovább" feliratú gomb. Erre kattintva navigálhatsz tovább a játék
            eredményére.
        </li>
        <li>
            Amennyiben a próbatételek során elveszíted az összes életpontodat, vereséget szenvedsz. Az iránytűn, ahogy győzelem
            esetén is, egy "Tovább" feliratú gomb fog megjelenni, amely tovább irányít a játék végkimeneteléhez.
        </li>
        <li>
            Amennyiben félbehagysz egy kalandjátékot, később ha a fentiekben leírt módon megkezded ugyan azt a játékot,
            akkor a start mező helyett arra a mezőre fogsz kerülni, ahol megszakítottad a legutóbbi alkalommal a játékmenetet,
            és ott folytathatod, ahol abbahagytad azt.
        </li>
    </ul>

    <h6>Hogyan készíthetek saját kalandjátékot?</h6>
    <ul>
        <li>
            Kattints az oldal fejlécében találhatú főmenü "Játék létrehozása" linkjére.
        </li>
        <li>
            A megjelenő űrlap kitöltésével tudsz létrehozni egy játékot, melynek adatait később szerkesztheted majd.
            <ul>
                <li>
                    Ezeket az adatokat körültekintően add meg, mivel a későbbiekben ezeket nem lesz lehetőséged módosítani.
                </li>
                <li>
                    Adj meg egy egyedi címet a játékodnak az első szövegmezőbe. (Amennyiben korábban valaki már létrehozott
                    egy azonos című játékot, hibaüzenetet fogsz kapni, és módosítanod kell a címet.)
                </li>
                <li>
                    A szövegmező alatt megjelenő legördülő menüből válassz ki egy láthatóságot! (A kiválasztott opcióban
                    szereplő felhasználóknak fog megjelenni a listában a játékod, és elkészülése után játszhatnak is majd vele,
                    de módosítani csak te fogod tudni.)
                </li>
                <li>
                    Az alatta található mezőbe írd be számmal, mekkora térképet szeretnél létrehozni a játékodnak. (A térkép
                    méretének legalább 3-nak kell lennie, és lefeljebb 15 lehet.) Az itt kiválasztott szám szerint egy négyzet
                    alakú térképet fogsz kapni, melynek négyzethálójában annyi sor és oszlop fog szerepelni, ammennyit itt
                    kiválasztottál.
                </li>
                <li>
                    Tölthetsz fel borítóképet a játékodhoz, de ezt nem muszáj megtenned ahhoz, hogy létrehozhasd azt.
                </li>
                <li>
                    A "Játék létrehozása" linkre kattintva az űrlap alján mentheted el a bevitt adatokat, és navigálhatsz
                    tovább.
                </li>
            </ul>
        </li>

        <li>Ezt követően a térkép ösvényeit alkodhatod meg.</li>
        <lu>
            <li>
                Az oldal bal oldalán egy menü található, mely segítségével a játék szerkesztésében bármelyik lépéshez
                navigálhatsz. Amennyiben még tapasztalatlan vagy, javasoljuk, hogy haladj pontról pontja, és az egyik
                lépésből a másikba az oldal bal oldalának alsó részében található "Tovább" link segítségével menj, amennyiben
                az éppen aktuális folyamattal végeztél.
            </li>
            <li>
                A menü mellett, bal oldalt az elhelyezhető útkártyákat taálod, jobb oldalt pedig a még üres térképet.
            </li>
            <li>
                Ahhoz, hogy a térképedet utakkal töltsd meg, kattints a bal oldalt elhelyezkedő útkártyák egyikére.
            </li>
            <li>
                Ezt követően kattints a térkép azon mezőjére, amelybe az útkártyát helyezni szeretnéd.
            </li>
            <li>
                Ügyelj rá, hogy az egyes útkártyák illeszkedjenek egymáshoz!
            </li>
            <li>
                A bal oldal alsó felében elhelyezkedő "Tovább" linkre kattintva haladhatsz tovább a következő lépésre a
                térkép kitöltését követően.
            </li>
        </lu>
    </ul>

</div>

