@{
    ViewData["Title"] = "Súgó";
}

<link rel="stylesheet" type="text/css" href="~/css/site.css" />

<h1>@ViewData["Title"]</h1>

<p>A játékok szerkesztésével és játszásával kapsolatos infromáció.</p>
