@model String
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Üdvözöljük!</h1>
    <p>A honlap szolgáltatásaival kapcsolatos információ.</p>

    <div id="container">
        <br /><br />
        <div id="SomeContent"> </div>
    </div>
</div>


<script type="text/javascript" src="@Url.Content("/js/site.js")"></script>