@model AdventureGameEditor.Models.GameResult

@{
    ViewData["Title"] = "GameResult";
}

<h1>Játék vége!</h1>

<div>
    @if (Model.Image != null)
    {
        <img src="@Url.Action("RenderGameResultImage", new { imageID = Model.Image.ID })" class="contentImage" height=100 />
    }
    <p>@Model.Text</p>
    @if (Model.IsGameWonResult)
    {
        <h6>Gratulálunk, nyertél!</h6>
    }
    else
    {
        <h6>Sajnos Vesztettél!</h6>
    }
</div>
