@model AdventureGameEditor.Models.GameResult

@{
    ViewData["Title"] = "GameResult";
}

<h1>Játék vége!</h1>

<div>
    @Model.Text
    @if (Model.IsGameWonResult)
    {
        <h6>Gratulálunk, nyertél!</h6>
    }
    else
    {
        <h6>Sajnos Vesztettél!</h6>
    }
</div>
