@model AdventureGameEditor.Models.PreludeViewModel
@{
    ViewData["Title"] = "PreludeView";
}

<h1>Bevezető</h1>

<div>
    @if(Model.PictureID != null)
    {
        <img src="@Url.Action("RenderImage", new { imageID = Model.PictureID })" class="contentImage" height=100 />
    }    
    <p>@Model.Text</p>
</div>

<a asp-controller="Gameplay" asp-action="GameplayView" asp-route-gameTitle="@Model.GameTitle">Tovább</a>