/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*------------------- Title --------------------*/

#title {
    border-bottom: 2px solid #ccc;
    border-bottom-color: burlywood;
    text-align: center;
    width: 100%;
    position: center;
    z-index: 2;
}

#titleText {
    font-size: 70px;
    color: beige;
    font-weight: 100;
    font-family: Papyrus;
    text-align: center;
    width: 100%;
}

#slogan{
    font-size: 30px;
    text-align: center;
    color: bisque;
    font-style:italic;
    font-family:Papyrus;
}

/*--------------------- Background ----------------------- */
body {
    font-size: 16px;
    background-image: url("tunnel_background_edited.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: beige;
    width: 100% !important;
    background-attachment: fixed;
    font-family: 'Baskerville Old Face';
    overflow: auto;
}

/*-------------------- Main menu --------------------*/
#mainMenu {
    border: 0px;
    background-color: transparent !important;
    font-size: 20px;
    color: lightgray;
    font-family: Papyrus;
    border-bottom: 2px solid #ccc;
    margin: 1em 0;
    border-bottom-color: burlywood;
    width: 100% !important;
    position:fixed;
    font-weight:bold;
}

#mainMenu ul li {
    display:inline-block;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    list-style:none;
    align-content:center;
}

#mainMenu ul li a:hover{
    text-decoration:none;
}

#mainMenu a{
    color: lightgray;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/*-------------------- Header --------------------*/

header {
    position: fixed;
    text-align: center;
    position: center;
    width: 100%;
    overflow: auto;
}

/*-------------------- Home --------------------*/

.display-4{
    font-family: Papyrus;
    font-style: italic;
    font-size: 30px !important;
}

/*-------------------- Content --------------------*/

#content{
    padding-top: 220px;
}


/*-------------------- Register --------------------*/
.register {
    background-image: url("old_book_page.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
    align-content: center;
    text-align: center;
    column-count: 2;
    column-gap: 60px;
    width: 70%;
    margin: auto;
    color: black !important;
    font-family: 'Bookman Old Style';
    padding-bottom: 100px;
    padding-top: 70px;
}

.register h2{
    border-bottom: 2px solid #ccc;
    border-bottom-color: black;
    font-family: Papyrus;
}

.register a{
    color: black;
}

.register input
{
    font-size:16px;
    font-family: 'Bookman Old Style';
    font-style: italic;
    text-align:center;
    background-color:transparent !important;
    color: midnightblue;
    border: none;
    border-bottom:dashed;
    border-bottom-width: 1px;
    border-bottom-color: black;
}

.register input:hover{
    background-color:transparent !important;
    color:midnightblue;
}

.register input[type=submit]{
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 20px;
    border: none;
    color: black;
    font-style:normal;
}
.register input[type=submit]:hover{
    text-decoration: underline;
}

.register label{
    padding-top:10px;
}


/*-------------------- Login --------------------*/

.login{
    background-image: url("login_background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
    width: 40%;
    padding: 20px;
    font-family:'Bookman Old Style';
    color: black;
    text-align:center;
    padding-top: 100px;
    padding-bottom:100px;
    padding-right: 40px;
    padding-left: 40px;
    height: 100%;
}

.login h2{
    font-family:Papyrus;
    border-bottom: 2px solid #ccc;
    border-bottom-color: black;
}

.login input
{
    font-size:16px;
    font-family: 'Bookman Old Style';
    font-style: italic;
    text-align:center;
    background-color:transparent !important;
    color: midnightblue;
    border: none;
    border-bottom:dashed;
    border-bottom-width: 1px;
    border-bottom-color: black;
}

.login input[type=submit]{
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 20px;
    border: 1px;
    color: black;
    font-style: normal !important;
}

.login input[type=submit]:hover{
    text-decoration: underline;
    color:black !important;
}

.login input:hover{
    background-color:transparent !important;
    color:midnightblue;
}

/*------------------- User --------------------*/

#user {
    width: 50pt;
    height: 50pt;
    background-image: url("user_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: right;
    padding-top: 35pt;
    right:10pt;
    top: 10pt;
    z-index: 1;
    position: fixed;
    vertical-align: bottom;
    color: black;
    font-family: 'Bookman Old Style';
    font-size: 11pt;
    font-weight: bold;
}

#user a{
    color: burlywood;
}
/*-------------------- List games --------------------*/

.menu {
    float: left;
    width: 160pt;
    position: fixed;
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 14pt;
    font-family: 'Bookman Old Style';
    text-align: left;
    color: burlywood;
    margin-left: 0px;
}

.menu ul li{
    list-style: none;
    padding-bottom: 20px;
    border-bottom: 1px;
    border-bottom-color: burlywood;
}

.menu ul li a{
    color: burlywood;
}

.menu ul li a:hover{
    text-decoration: none;
    color: white;
    background-color: black;
}


.menu h6{
    font-family:Papyrus;
    text-align: center;
    font-size: 18pt;
    color: burlywood;
    font-weight: bold;
    border-bottom: 1px solid;
}

.game-list {
    padding-left: 225pt;
    padding-top: 15pt;
    height: 450pt;
}

.scrollable{
    overflow-y: scroll;
}

.index-img{
    height: 150px;
    max-width: 150px;
}

.game-list table tr td{
    border: 35px solid;
    border-color: transparent;
    align-content: center;
}

.game-list table button{
    background-color: transparent;
    color: burlywood;
    border:none;
}

#game-title{
    font-family:Papyrus;
    text-align: center;
    position: fixed;
    width: 100%;
}

.error-messages{
    text-align: center;
    color: orangered;
    font-style: italic;
    border-top: 1px solid;
    border-top-color: burlywood;
}


/*-------------------- GameViewerDetails --------------------*/

.details-img{
    width: 80%;
    margin:auto;
}

.game-details{
    background-image: url("old_book_page.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 20pt;
    column-count: 2;
    column-gap: 45pt;
    height: 95%;
    width: 90%;
    color: black;
    font-family: 'Bookman Old Style';
    font-size: 100%;
    padding-top: 40pt;
}

/* Provide sufficient contrast against white background */
a {
    color: Highlight;
}



.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  
  /*background-color: #1b6ec2;*/
  border-color: #1861ac;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
  position: fixed;
}
