@model AdventureGameEditor.Models.GameplayData

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>GameplayData</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="StepCount" class="control-label"></label>
                <input asp-for="StepCount" class="form-control" />
                <span asp-validation-for="StepCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastPlayDate" class="control-label"></label>
                <input asp-for="LastPlayDate" class="form-control" />
                <span asp-validation-for="LastPlayDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

