
<div class="menu profile-menu">
    <h6>Profil szerkesztése</h6>
    <ul>
        <li><a asp-controller="Users" asp-action="GetProfile">Profil megjelenítése</a></li>
        <li><a asp-controller="Users" asp-action="EditEmailAddress">Email cím módosítása</a></li>
        <li><a asp-controller="Users" asp-action="EditPassword">Jelszó módosítása</a></li>
        <li><a asp-controller="Users" asp-action="EnsureDelteUser">Regisztráció törlése</a></li>
    </ul>
</div>