@model AdventureGameEditor.Models.FieldContentViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@for (int i = 0; i < Model.Trial.Alternatives.Count; ++i)
{
    <div class="form-group">
        <label asp-for="Trial.Alternatives.ElementAt(i).Text" class="control-label"></label>
        <textarea asp-for="Trial.Alternatives.ElementAt(i).Text" class="form-control">@Model.Trial.Alternatives.ElementAt(i).Text</textarea>
        <span asp-validation-for="Trial.Alternatives.ElementAt(i).Text" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Trial.Alternatives.ElementAt(i).TrialResult.ResultType" class="control-label"></label>
        <p>
            <select asp-for="Trial.Alternatives.ElementAt(i).TrialResult.ResultType" asp-items="Html.GetEnumSelectList<ResultType>()"></select>
        </p>
        <span asp-validation-for="Trial.Alternatives.ElementAt(i).TrialResult.ResultType" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Trial.Alternatives.ElementAt(i).TrialResult.Text" class="control-label"></label>
        <textarea asp-for="Trial.Alternatives.ElementAt(i).TrialResult.Text" class="form-control">@Model.Trial.Alternatives.ElementAt(i).TrialResult.Text</textarea>
        <span asp-validation-for="Trial.Alternatives.ElementAt(i).TrialResult.Text" class="text-danger"></span>
    </div>
}
