
@{
    ViewData["Title"] = "CreateMap";
}

<h1>Játék térképének létrehozása</h1>

<table style="width:100%">
    <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Age</th>
    </tr>
    <tr>
        <td><a asp-area="" asp-controller="GameEditor" asp-action="Test" asp-route-testNumber=1>Order by popularity</a> </td>
        <td>Smith</td>
        <td>50</td>
    </tr>
    <tr>
        <td>Eve</td>
        <td>Jackson</td>
        <td>94</td>
    </tr>
</table>
<div>
    @{await Html.RenderPartialAsync("Map");}
</div>
