@model AdventureGameEditor.Models.BasicGameDataViewModel

@{
    ViewData["Title"] = "Játék létrehozása";
}

<body class="login">
    <h2>Játék létrehozása</h2>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="CreateGame">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Visibility" class="control-label"></label>
                    <p>
                        <select asp-for="Visibility" asp-items="Html.GetEnumSelectList<Visibility>()"></select>
                    </p>
                    <span asp-validation-for="Visibility" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TableSize" class="control-label"></label>
                    <input asp-for="TableSize" class="form-control" />
                    <span asp-validation-for="TableSize" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Játék létrehozása" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-controller="Home" asp-action="Index">Vissza a kezdőlapra</a>
    </div>
</body>


@section Scripts
{
    @await Html.PartialAsync("_ValidationScriptsPartial"); 
    
}
