@model AdventureGameEditor.Models.MapViewModel
@{
    ViewData["Title"] = "CreateMap";
}

<h1> @Model.GameTitle c. játék térképének létrehozása</h1>

<h2>@Model.TargetPicID</h2>

<table style="width:100%">
    <tr>
        <td><a asp-area="" asp-controller="GameEditor" asp-action="SetRoadID" asp-route-newID=1 asp-route-gameTitle=@Model.GameTitle>Right</a> </td>
        <td><a asp-area="" asp-controller="GameEditor" asp-action="SetRoadID" asp-route-newID=2 asp-route-gameTitle=@Model.GameTitle>Left</a> </td>
        <td><a asp-area="" asp-controller="GameEditor" asp-action="SetRoadID" asp-route-newID=3 asp-route-gameTitle=@Model.GameTitle>Up</a> </td>
        <td><a asp-area="" asp-controller="GameEditor" asp-action="SetRoadID" asp-route-newID=4 asp-route-gameTitle=@Model.GameTitle>Down</a> </td>
    </tr>
</table>
<div>
    @{await Html.RenderPartialAsync("Map", Model);}
</div>
