@model AdventureGameEditor.Models.FieldContentViewModel

<p>Write the text of the field.</p>
<p> Sor: @Model.RowNumber</p>
<p> Oszlop: @Model.ColNumber</p>



<form asp-action="SetTextForField">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <input type="hidden" asp-for="GameTitle" class="form-control" />
    </div>

    <div class="form-group">
        <input type="hidden" asp-for="RowNumber" class="form-control" />
    </div>

    <div class="form-group">
        <input type="hidden" asp-for="ColNumber" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="TextContent" class="control-label"></label>
        <textarea asp-for="TextContent" class="form-control">@Model.TextContent</textarea>
        <span asp-validation-for="TextContent" class="text-danger"></span>
    </div>

    <h1>Próba hozzáadása (opcionális)</h1>

    <div class="form-group">
        <label asp-for="Trial.TrialType" class="control-label"></label>
        <p>
            <select asp-for="Trial.TrialType" asp-items="Html.GetEnumSelectList<TrialType>()"></select>
        </p>
        <span asp-validation-for="Trial.TrialType" class="text-danger"></span>
    </div>

    <h2>A próba kimenetelének alternatívái:</h2>

    <div id="alternative0">
        @await Html.PartialAsync("AlternativeForFormPartialView", new AlternativeViewModel() { Trial = Model.Trial, Index = 0 });
    </div>

    @for (int i = 1; i < 10; ++i)
    {
        String id = "alternative" + @i;
        <div id="@id"></div>
    }

    <div class="form-group">
        <input type="submit" value="Mentés" class="btn btn-default" />
    </div>
</form>

<div id="addAlternativeButton">
    @await Html.PartialAsync("AddAlternativeButtonPartialView", 
    new AddAlternativeButtonViewModel() { 
    GameTitle = Model.GameTitle,
    ColNumber = Model.ColNumber,
    RowNumber = Model.RowNumber,
    Index = 1
});
</div>
