@model AdventureGameEditor.Models.GameEditorMenuViewModel




    <ul>
        <li> <a asp-controller="GameEditor" asp-action="CreateMap" asp-route-gameTitle="@Model.GameTitle">Térkép szerkesztése</a></li>
    </ul>
