@model AdventureGameEditor.Models.MapViewModel
@{
    ViewData["Title"] = "Map";
}

<table border="1" frame="box" rules="all" >
    @foreach(MapRow row in Model.Map)
    {
    <tr>
        @foreach (Field field in row.Row)
        {
            <td style="height:100px;width:100px">
                <a asp-area="" asp-controller="GameEditor" asp-action="Test"
                   asp-route-gameTitle=@Model.GameTitle asp-route-rowNumber=@field.HorizontalCord
                   asp-route-colNumber=@field.VerticalCord asp-route-targetPicID=@Model.TargetPicID>
                    @field.Text
                </a>
            </td>
            }
        </tr>
    }
    <tr>
    </tr>
</table>
